
.pending-todos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark);
  
  }
  
  .pending-todos>h2{
   margin-top: 1.5rem;
    border-bottom: 2px solid var(--color-dark);
  }
  
  .pending-todos>ul{
    margin-top: 2rem;
  }
  
  .pending-todos>ul>li{
    font-size: 1.2rem;
    margin: 10px;
  }
  
  .pending-todos>button{
    background-color: var(--color-success);
    width: 50%;
    margin: 4rem;
    height: 40px;
    border-radius: var(--border-radius-2);
    transition: 0.3s ease;
  }
  
  .pending-todos>button:hover{
    width: 60%;
  }